@font-face {
    font-family: "Minecraft";
    src: url("../../minecraft_plugins/Minecraft.ttf") format("opentype");
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-image: url("../../images/minecraft-background-1.jpg");
    background-repeat: no-repeat;
    animation: to-right 150s linear infinite;
}


body button {
    width: 25rem;
    height: 3rem;
}

#main-menu-background{
    background-position-x: -4rem;
    background-position-y: 7rem;
    background-size: 42rem;
    width: 54rem;
    background-image: url("../../images/background-1.jpg");
}

#titles{
    position: relative;
}

#subtitle{
    position: absolute;
    font-size: 2rem;
    text-wrap: nowrap;
    letter-spacing: 3px;
    left: 50rem;
    top: 5rem;
    rotate: -20deg;
    color: yellow;
    font-family: Minecraft, cursive;
    border-color: #AAA #565656 #565656 #AAA;
    text-shadow: 3px 3px #4C4C4C;
    animation: jumping 1.5s linear infinite;
}


@keyframes to-right {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0;
    }
}

@keyframes jumping {
    0% {
        font-size: 2rem;
    }
    50% {
        font-size: 2.5rem;
    }
    100% {
        font-size: 2rem;
    }
}

#main-title{
    margin-bottom: 10rem;
    width: 1000px;
}
