@font-face {
    font-family: "Minecraft";
    src:  url("../../minecraft_plugins/minecraft-rus.ttf") format("opentype");
}

html *{
    font-family: "Minecraft", cursive;
}

body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/dirt.jpeg");
    background-size: 10rem;
    overflow: hidden;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    top: 1rem;
}

header > div{
    width: 6rem;
    height: 5.5rem;
}

header > div:first-child > a > div{
    background-image: url("../../images/house.png");
    background-position-y: 11px;
    background-size: 4rem;
}

header > div:last-child > a > div{
    background-image: url("../../images/icons.png");
    background-position-y: -5px;
    background-size: 5rem;
}

.category.pixel-corners.active {
    z-index: 99;
    border-bottom-color: transparent;
}

.tab.pixel-corners.active {
    background-color: #bebebe;
    border-width: 4px;
    height: 140%;
}

#pagination-container > div{
    font-family: "Minecraft", cursive;
    color: white;
    width: 6%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#categories{
    position: absolute;
    width: 100%;
    display: flex;
}

#categories > div:first-child{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    gap: 2.5rem;
    flex: 1;
}

#categories > div:last-child{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
}

.category.pixel-corners{
    top: -5rem;
    width: 6rem;
    height: 5.5rem;
    margin-top: 4rem;
    border-color: black;
    border-width: 5px;
    background-color: black;
}

.tab.pixel-corners{
    background-color: #bebebe;
    height: 92%;
    border-left-color: #f4f4f4;
    border-top-color: #f4f4f4;
    border-right-color: #535353;
    border-bottom-color: black;
    background-repeat: no-repeat;
    background-position: center;
}


#categories > div:first-child .category.pixel-corners:first-child > div  {
    background-image: url("../../images/items/apple.png");
    background-position-y: 1px;
    background-size: 4rem;
}

#categories > div:first-child .category.pixel-corners:nth-child(2) > div  {
    background-image: url("../../images/items/tools.png");
    background-position-y: 0.4rem;
    background-size: 3.5rem;
}

#categories > div:first-child .category.pixel-corners:nth-child(3) > div  {
    background-image: url("../../images/items/armor.png");
    background-position-y: 0.2rem;
    background-size: 4rem;
}

#categories > div:first-child .category.pixel-corners:nth-child(4) > div  {
    background-image: url("../../images/items/weapons.png");
    background-position-y: 0.2rem;
    background-size: 4rem;
}

#categories > div:last-child .category.pixel-corners:first-child > div  {
    background-image: url("../../images/items/bookshelf.webp");
    background-position-y: 0.2rem;
    background-size: 4rem;
}

#categories > div:last-child .category.pixel-corners:last-child > div {
    background-image: url("../../images/items/Compass_.webp");
    background-position-y: 0.2rem;
    background-size: 4rem;
}

#shop-altogether{
    width: 80%;
    height: 45rem;
    position: relative;
}

#shop-outer{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    border-color: black;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#shop{
    background-color: #bebebe;
    width: 100%;
    height: 100%;
    border-left-color: #f4f4f4;
    border-top-color: #f4f4f4;
    border-right-color: #535353;
    border-bottom-color: #535353;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search-area{
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

#search-area > div{
    font-size: 2rem;
    letter-spacing: 1px;
    color: #3a3a3a;
    text-align: center;
}

#search-area > label > input{
    width: 16rem;
    height: 2rem;
    border-width: 3px;
    background-color: #808081;
    border-top-color: #535353;
    border-left-color: #535353;
    border-right-color: #f4f4f4;
    border-bottom-color: #f4f4f4;
    font-size: 100%;
    color: white;
    letter-spacing: 2px;
    margin-right: 8.5rem;
}

#search-area > label > input:focus {
    outline-width: 0;
}

#shelf{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 90%;
}


.cell{
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #484949;
    border-top-color: #484949;
    border-right-color: #f4f4f4;
    border-bottom-color: #f4f4f4;
}

#shelf > div{
    background-size: 7rem;
    background-repeat: no-repeat;
    background-position: center;
}

#pagination-container > button{
    height: 2rem;
}

#pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    margin-bottom: 2rem;
}

#pagination-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.page{
    width: 2rem;
    height: 2rem;
}


@media screen and (max-width: 1000px) {
    .cell{
        width: 80px;
        height: 80px;
    }

    #shop-altogether{
        width: 75%;
        margin-right: 2rem;
    }

    body{
        justify-content: right;
    }


    #categories > div:first-child{
        width: 70%;
        justify-content: space-around;
        gap: 0;
    }

    #categories > div:last-child{
        position: absolute;
        flex-direction: column;
        top: 13rem;
        left: -5.5rem;
    }

    #search-area > label > input{
        margin-right: 1rem;
        width: 80%;
    }

    #search-area > div{
        font-size: 1.5rem;
        text-wrap: nowrap;
    }

    #extended-buttons .category.pixel-corners.active {
        z-index: 99;
        border-right-color: transparent;
    }

    #extended-buttons .tab.pixel-corners.active {
        background-color: #bebebe;
        border-width: 4px;
        height: 95%;
        width: 105%;
    }
}
